html,
body {
  width: auto;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  white-space: nowrap;
}

.tag {
  display: inline-block;
  width: 100%;
}

.inschrift {
  position: fixed;
}

.inschrift dl dt,
.inschrift dl dd {
  display: inline-block;
}

.inschrift dl dd {
  margin: 0 40px 0 0;
}

/*red: 255 3 3
blue: 3 3 255
green: 3  255 3
black: 3  3 3*/
